- name: "[{{ dc_hostname }}] Install Chocolatey"
  win_chocolatey:
    name: chocolatey
    version: "{{ chocolatey_version }}"
    state: present

- name: "[{{ dc_hostname }}] Install Chocolatey core extension"
  win_chocolatey:
    name: chocolatey-core.extension
    state: present

- name: "[{{ dc_hostname }}] Disable Chocolatey enhanced exit codes"
  win_chocolatey_feature:
    name: useEnhancedExitCodes
    state: disabled

- name: "[{{ dc_hostname }}] Install packages"
  win_chocolatey:
    name: '{{ item }}'
    state: present
  with_items:
  - notepadplusplus
  - putty
  - python
  - git
  - 7zip
  - wget
  - pstools

- name: "[{{ dc_hostname }}] Install Sysinternals"
  win_chocolatey:
    name: sysinternals
    state: present
    ignore_checksums: yes

- name: "[{{ dc_hostname }}] Set hostname"
  win_hostname:
    name: "{{ dc_hostname }}"
  register: win_hostname

- name: "[{{ dc_hostname }}] Reboot after hostname change"
  win_reboot:
  when: win_hostname.reboot_required
  
- name: "[{{ dc_hostname }}] Configure Administrator account"
  win_user:
    name: "{{ domain_admin_user }}"
    password: "{{ Administrator_pass }}"
    password_never_expires: yes
    state: present
  ignore_errors: yes

- name: "[{{ dc_hostname }}] Create AD domain {{ domain }}"
  microsoft.ad.domain:
    dns_domain_name: "{{ domain }}"
    safe_mode_password: "{{ safe_mode_password }}"
  register: check_domain

- name: "[{{ dc_hostname }}] Reboot after domain creation"
  win_reboot:
  when: check_domain.changed

- name: "[{{ dc_hostname }}] Promote to domain controller"
  microsoft.ad.domain_controller:
    dns_domain_name: "{{ domain }}"
    domain_admin_user: "{{ domain_admin_user_fqn }}"
    domain_admin_password: "{{ Administrator_pass }}"
    safe_mode_password: "{{ safe_mode_password }}"
    state: domain_controller
    domain_log_path: "{{ win_domain_log_path }}"
  register: check_domain_controller

- name: "[{{ dc_hostname }}] Reboot after DC promotion"
  win_reboot:
  when: check_domain_controller.changed

- name: "[{{ dc_hostname }}] Install xDnsServer module"
  win_shell: |
    if (!(Get-Module -ListAvailable -Name xDnsServer)) {
      Install-Module -Name xDnsServer -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: "[{{ dc_hostname }}] Configure DNS forwarders"
  win_dsc:
    resource_name: xDnsServerSetting
    DnsServer: localhost
    NoRecursion: false
    Forwarders: "{{ dns_forwarders }}"

- name: "[{{ dc_hostname }}] Create AD user {{ admin_user }}"
  microsoft.ad.user:
    name: "{{ admin_user }}"
    password: "{{ admin_pass }}"
    password_never_expires: yes
    state: present
    path: "{{ users_ou }}"
    groups:
      add:
        - Domain Admins

- name: "[{{ dc_hostname }}] Create AD user {{ bob_user }}"
  microsoft.ad.user:
    name: "{{ bob_user }}"
    password: "{{ bob_pass }}"
    password_never_expires: yes
    state: present
    path: "{{ users_ou }}"
    groups:
      add:
        - Users

- name: "[{{ dc_hostname }}] Create AD user {{ alice_user }}"
  microsoft.ad.user:
    name: "{{ alice_user }}"
    password: "{{ alice_pass }}"
    password_never_expires: yes
    state: present
    path: "{{ users_ou }}"
    groups:
      add:
        - Users

- name: "[{{ dc_hostname }}] Create AD groups"
  microsoft.ad.group:
    name: "{{ item }}"
    scope: global
    path: "{{ base_ou }}"
    state: present
  loop: "{{ ad_groups }}"
