---
#
# Install SQL Developer Edition
#

- name: Windows | Install .NET Framework Core
  win_feature:
    name: NET-Framework-Core
    state: present

# Setup SQL Server Pre-Reqs
- name: Windows | Install .NET Framework 3.5
  win_feature:
    name: NET-Framework-Features
    state: present

- name: Windows | Install .NET Framework 4.5 Features
  win_feature:
    name: NET-Framework-45-Features
    state: present
    include_sub_features: True

# Load required powershell modules
- name: Powershell | Install NuGet provider
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-PackageProvider -ListAvailable -Name NuGet -ErrorAction SilentlyContinue)) {
      Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
    }
  args:
    executable: powershell.exe

- name: Powershell | Check for SQLServer DSC Powershell module
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name SQLServerDsc)) {
      Install-Module -Name SQLServerDsc -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Powershell | Check for Storage DSC Powershell module
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name StorageDsc)) {
      Install-Module -Name StorageDsc -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Powershell | Check for ServerManager Powershell module
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name ServerManager)) {
      Install-Module -Name ServerManager -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Powershell | Ensure that DBA Tools module is present
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name dbatools)) {
      Install-Module -Name dbatools -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Powershell | Check for xNetworking Powershell module
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name xNetworking)) {
      Install-Module -Name xNetworking -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Windows | Install Windows Process Activation Service
  win_feature:
    name: WAS
    state: present
    include_sub_features: True

# Setup service accounts
#
# We delegate this process to our domain controller since the required AD services are there for
# win_domain_user to interact with. 
- name: Active Directory | Ensure SQL Service account is present
  microsoft.ad.user:
    name: "{{ mssql_sqlsvc_account | regex_search('[^\\\\]*$') }}"
    firstname: "{{ mssql_instance_name }}"
    surname: SQLSvc
    password: "{{ mssql_sqlsvc_account_pass }}"
    password_never_expires: yes
    user_cannot_change_password: yes
    description: "SQL Service account for {{ inventory_hostname }}\\{{ mssql_instance_name }}"
    state: present
    path: "{{ mssql_base_ldap_path }}"
    groups:
      add:
        - Domain Users
  tags: service_account
  delegate_to: "{{ domain_controller }}"

- name: Active Directory | Ensure SQL Agent Service account is present
  microsoft.ad.user:
    name: "{{ mssql_agentsvc_account | regex_search('[^\\\\]*$') }}"
    firstname: "{{ mssql_instance_name }}"
    surname: AgentSvc
    password: "{{ mssql_agentsvc_account_pass }}"
    password_never_expires: yes
    user_cannot_change_password: yes
    description: "SQL Agent service account for {{ inventory_hostname }}\\{{ mssql_instance_name }}"
    state: present
    path: "{{ mssql_base_ldap_path }}"
    groups:
      add:
        - Domain Users
  delegate_to: "{{ domain_controller }}"
  tags: service_account

# SQL install may fail if a pending reboot is detected
# Assuming we are allowed to reboot this step will check for pending reboots
# and execute a reboot, reboot activity can be controlled using the variable mssql_suppress_reboot

- name: Ensure that a reboot is not pending
  when: ansible_reboot_pending
  debug:
    msg: 'Pending reboot detected'
  changed_when: true
  notify: reboot windows

- meta: flush_handlers

- name: Fetch SQL Media Downloader
  win_get_url:
    url: "{{ mssql_installation_source }}"
    dest: "{{ mssql_temp_download_path }}\\SQLServer2017-SSEI-Dev.exe"

- name: Use Media Downloader to fetch SQL Installation CABs to {{ mssql_installation_path }}
  win_shell: "{{ mssql_temp_download_path }}\\SQLServer2017-SSEI-Dev.exe /Action=Download /MediaPath={{ mssql_installation_path }} /MediaType=CAB /Quiet"

# Job will fail if extracted media folder is not empty, quick step to ensure it's empty
- name: Ensure installation media extraction path is empty
  win_file:
    path: "{{ mssql_installation_path }}\\Media"
    state: absent

- name: Extract installation media
  win_shell: "{{ mssql_installation_path }}\\SQLServer2017-DEV-x64-ENU.exe /X:{{ mssql_installation_path }}\\Media /Q"
# If this step fails, logs are in C:\Program Files\Microsoft SQL Server\...\Setup Bootstrap\Log
# it will often contain the actual error.  If it shows everything passing, the issue is within the DSC logs.
# 
# This module also typically throws this error fpr all failure conditions:
# PowerShell DSC resource MSFT_SqlSetup  failed to execute Set-TargetResource functionality with error message: 
# System.Exception: Test-TargetResource returned false after calling Set-TargetResource.
#
#
# This document can also be useful to troubleshoot issues with DSC modules
# https://docs.microsoft.com/en-us/powershell/dsc/troubleshooting 
#
# In particular completing these steps:
# https://docs.microsoft.com/en-us/powershell/dsc/troubleshooting#gathering-events-from-a-single-dsc-operation
# then re-running a failing PowershellDSC job can help you find the source of your error
- name: Install SQL Server
  win_dsc:
    resource_name: SQLSetup
    Action: Install
    UpdateEnabled: True
    SourcePath: "{{ mssql_installation_path }}\\Media"
    InstanceName: "{{ mssql_instance_name }}"
    InstallSharedDir: "{{ mssql_installshared_path }}"
    InstallSharedwowDir: "{{ mssql_installsharedwow_path }}"
    InstanceDir: "{{ mssql_instance_path }}"
    InstallSQLDataDir: "{{ mssql_sqlinstalldata_path }}"
    SQLUserDBDir: "{{ mssql_sqluserdata_path }}"
    SQLUserDBLogDir: "{{ mssql_sqluserlog_path }}"
    SQLTempDBDir: "{{ mssql_sqltempDB_path }}"
    SQLTempDBLogDir: "{{ mssql_sqltempDBlog_path }}"
    Features: "{{ mssql_features }}"
    SQLCollation: "{{ mssql_collation }}"
    BrowserSvcStartupType: "{{ mssql_browsersvc_mode }}"
    SuppressReboot: "{{ mssql_suppress_reboot }}"
    # Service Accounts
    #
    # If the type of the DSC resource option is a PSCredential then 
    # there needs to be 2 options set in the Ansible task definition 
    # suffixed with _username and _password. So we will be providing 
    # two options for these normally single option items.

    # SQL Service Account
    SQLSvcAccount_username: "{{ mssql_sqlsvc_account }}"
    SQLSvcAccount_password: "{{ mssql_sqlsvc_account_pass }}"
    # SQL Agent Service Account
    AgtSvcAccount_username: "{{ mssql_agentsvc_account }}"
    AgtSvcAccount_password: "{{ mssql_agentsvc_account_pass }}"
    # SQL Analysis Services Account
    ASSvcAccount_username: "{{ mssql_assvc_account }}"
    ASSvcAccount_password: "{{ mssql_assvc_account_pass }}"

    # Used when installing on a network path, comment out 
    # SourceCredential_username: "{{ ansible_user }}"
    # SourceCredential_password: "{{ ansible_password }}"

    # System Admins 
    SQLSysAdminAccounts: "{{ mssql_sysadmin_accounts }}"
    # Analysis Services Admins (if installed)
    ASSysAdminAccounts: "{{ mssql_asadmin_accounts }}"
  tags: install_sql

# End of win_dsc for SQL Server

# Firewall configuration
- name: Firewall | Allow Database Engine for instance
  win_dsc:
    resource_name: xFirewall
    Name: "SQL Server Database Engine instance {{ mssql_instance_name }}"
    Program: sqlservr.exe 
    Ensure: present
    Enabled: True
    Profile: "Domain"
    Direction: "Inbound"
    Action: Allow
    Description: "Allows the Database Engine to access the network"  
  tags: configure_firewall

- name: Firewall | Allow SQLBrowser for instance
  win_dsc:
    resource_name: xFirewall
    Name: "SQL Server Browser instance {{ mssql_instance_name }}"
    Service: SQLBrowser
    Ensure: present
    Enabled: True
    Profile: "Domain"
    Direction: "Inbound"
    Action: Allow
    Description: "Allows the SQL Server Browser to access the network"  
  tags: configure_firewall

# Begin SQL Server configuration
- name: Enable TCP Protocol
  win_dsc:
    resource_name: SqlProtocol
    InstanceName: "{{ mssql_instance_name }}"
    ProtocolName: TcpIp
    Enabled: True
    SuppressRestart: False
  tags: configure_sql

- name: Configure TCP Port
  win_dsc:
    resource_name: SqlProtocolTcpIp
    InstanceName: "{{ mssql_instance_name }}"
    IpAddressGroup: IPAll
    TcpPort: "{{ mssql_port }}"
    SuppressRestart: False
  tags: configure_sql

- name: Adjust Max Server Memory to {{ mssql_max_server_memory }}
  when: mssql_max_server_memory is defined
  win_dsc:
    resource_name: SqlConfiguration
    InstanceName: "{{ mssql_instance_name }}"
    ServerName: localhost
    OptionName: max server memory (MB)
    OptionValue: "{{ mssql_max_server_memory }}"
    RestartService: False
  tags: configure_sql
  ignore_errors: yes

- name: Adjust Min Server Memory to {{ mssql_min_server_memory }}
  when: mssql_min_server_memory is defined
  win_dsc:
    resource_name: SqlConfiguration
    ServerName: localhost
    InstanceName: "{{ mssql_instance_name }}"
    OptionName: min server memory (MB)
    OptionValue: "{{ mssql_min_server_memory }}"
  tags: configure_sql
  ignore_errors: yes

- name: Adjust Max Degree of Parallelism
  when: mssql_max_degree_of_parallelism is defined
  win_dsc:
    resource_name: SqlConfiguration
    ServerName: localhost
    InstanceName: "{{ mssql_instance_name }}"
    OptionName: max degree of parallelism
    OptionValue: "{{ mssql_max_degree_of_parallelism }}"
  tags: configure_sql
  ignore_errors: yes

- name: Install .NET Framework 4.8
  win_shell: |
    $release = (Get-ItemProperty 'HKLM:\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full' -ErrorAction SilentlyContinue).Release
    if ($release -lt 528040) {
      [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
      $url = 'https://go.microsoft.com/fwlink/?linkid=2088631'
      $installer = Join-Path $env:TEMP 'ndp48-web.exe'
      Invoke-WebRequest -Uri $url -OutFile $installer
      Start-Process -FilePath $installer -ArgumentList '/q /norestart' -Wait
      Remove-Item $installer -Force
      exit 3010
    }
  args:
    executable: powershell.exe
  register: dotnet48_install
  failed_when: dotnet48_install.rc not in [0, 3010]

- name: Reboot if .NET 4.8 was installed
  win_reboot:
  when: dotnet48_install.rc == 3010

- name: Ensure chocolatey is installed
  win_chocolatey:
    name: chocolatey
    state: present

- name: Ensure chocolatey-core.extension is installed
  win_chocolatey:
    name: chocolatey-core.extension
    state: present

- name: Install SQL Server Management Studio
  win_chocolatey:
    name: sql-server-management-studio
    state: present
    timeout: 3600
  async: 3600
  poll: 120
  ignore_errors: yes

- name: Copy over Database dump files ... CreateDatabase.sql
  win_copy:
    src: files/CreateDatabase.sql
    dest: c:\tmp\

- name: Copy over Database dump files ... CreateTable.sql
  win_copy:
    src: files/CreateTable.sql
    dest: c:\tmp\

#- name: Create a new database with name Clients
#  mssql_db:
#    name: "Clients"
#    state: present
#    login_host: "192.168.56.11"
#    login_user: "CYBERLOOP\admin"
#    login_password: "StrongPass123!"

#- name: Setup Clients database
#  mssql_db:
#    name: Clients
#    state: import
#    target: C:\tmp\CreateDatabase.sql

#- name: Create the Clients Table
#  mssql_db:
#    name: Clients
#    state: import
#    target: C:\tmp\CreateTable.sql

