- name: "[{{ client_hostname }}] Set Swiss German keyboard"
  win_shell: |
    $langList = New-WinUserLanguageList de-CH
    $langList[0].InputMethodTips.Clear()
    $langList[0].InputMethodTips.Add('0807:00000807')
    Set-WinUserLanguageList $langList -Force
  args:
    executable: powershell.exe

- name: "[{{ client_hostname }}] Install NuGet provider"
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-PackageProvider -ListAvailable -Name NuGet -ErrorAction SilentlyContinue)) {
      Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
    }
  args:
    executable: powershell.exe

- name: "[{{ client_hostname }}] Install xRemoteDesktopAdmin module"
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name xRemoteDesktopAdmin)) {
      Install-Module -Name xRemoteDesktopAdmin -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: "[{{ client_hostname }}] Enable Remote Desktop"
  win_dsc:
    resource_name: xRemoteDesktopAdmin
    Ensure: present
    UserAuthentication: Secure

- name: "[{{ client_hostname }}] Install xNetworking module"
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name xNetworking)) {
      Install-Module -Name xNetworking -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: "[{{ client_hostname }}] Configure firewall for RDP"
  win_dsc:
    resource_name: xFirewall
    Name: "Administrator access for RDP (TCP-In)"
    Ensure: present
    Enabled: True
    Profile: "Domain"
    Direction: "Inbound"
    Localport: "3389"
    Protocol: "TCP"
    Description: "Opens the listener port for RDP"

- name: "[{{ client_hostname }}] Set hostname"
  win_hostname:
    name: "{{ client_hostname }}"
  register: res

- name: "[{{ client_hostname }}] Reboot after hostname change"
  win_reboot:
    reboot_timeout: 2000
  when: res.reboot_required

- name: "[{{ client_hostname }}] Install Chocolatey"
  win_chocolatey:
    name: chocolatey
    version: "{{ chocolatey_version }}"
    state: present

- name: "[{{ client_hostname }}] Install Chocolatey core extension"
  win_chocolatey:
    name: chocolatey-core.extension
    state: present

- name: "[{{ client_hostname }}] Install packages"
  win_chocolatey:
    name: '{{ item }}'
    state: present
  with_items:
  - notepadplusplus
  - git
  - pstools
