- name: "[{{ srv_hostname }}] Set hostname"
  win_hostname:
    name: "{{ srv_hostname }}"
  register: win_hostname

- name: "[{{ srv_hostname }}] Reboot after hostname change"
  win_reboot:
  when: win_hostname.reboot_required

- name: "[{{ srv_hostname }}] Configure DNS client"
  win_dns_client:
    adapter_names: '*'
    ipv4_addresses:
    - "{{ dc_ip }}"
    log_path: "{{ win_dns_log_path }}"

- name: "[{{ srv_hostname }}] Install File Server role"
  win_feature:
    name: File-Services, FS-FileServer
    state: present
    include_management_tools: True

- name: "[{{ srv_hostname }}] Install IIS management features"
  win_feature:
    name: Web-Mgmt-Tools,
          Web-Mgmt-Console,
          Web-Scripting-Tools,
          Web-Mgmt-Service
    state: present

- name: "[{{ srv_hostname }}] Configure SYSTEM rights on machine keys"
  win_acl:
    path: C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys\
    user: SYSTEM
    rights: FullControl
    type: allow
    state: present
    inherit: ContainerInherit, ObjectInherit
    propagation: 'InheritOnly'

- name: "[{{ srv_hostname }}] Install IIS 6 compatibility features"
  win_feature:
    name: Web-Mgmt-Compat,
          Web-Metabase,
          Web-Lgcy-Mgmt-Console,
          Web-Lgcy-Scripting,
          Web-WMI
    state: present

- name: "[{{ srv_hostname }}] Create public share directory"
  win_file:
    path: "{{ win_shares_path }}"
    state: directory

- name: "[{{ srv_hostname }}] Create public share"
  win_share:
    name: public
    description: Basic RW share for all domain users
    path: "{{ win_shares_path }}"
    list: yes
    full: Administrators
    change: Users

- name: "[{{ srv_hostname }}] Join domain {{ domain }}"
  microsoft.ad.membership:
    dns_domain_name: "{{ domain }}"
    domain_admin_user: "{{ domain_admin_user_fqn }}"
    domain_admin_password: "{{ Administrator_pass }}"
    state: domain
  register: domain_state

- name: "[{{ srv_hostname }}] Reboot after domain join"
  win_reboot:
  when: domain_state.reboot_required
