- name: Windows | Clear any stuck DSC operations
  win_shell: |
    $null = Stop-DscConfiguration -Force -ErrorAction SilentlyContinue -WarningAction SilentlyContinue
    Remove-Item (Join-Path $env:SystemRoot 'System32\Configuration\Current.mof') -Force -ErrorAction SilentlyContinue
    Remove-Item (Join-Path $env:SystemRoot 'System32\Configuration\Pending.mof') -Force -ErrorAction SilentlyContinue
    Remove-Item (Join-Path $env:SystemRoot 'System32\Configuration\Previous.mof') -Force -ErrorAction SilentlyContinue
    Remove-Item (Join-Path $env:SystemRoot 'System32\Configuration\DSCStatusHistory.mof') -Force -ErrorAction SilentlyContinue
    Remove-Item (Join-Path $env:SystemRoot 'System32\Configuration\DSCEngineCache.mof') -Force -ErrorAction SilentlyContinue
    exit 0
  args:
    executable: powershell.exe

- name: Windows | Restart WMI service to clear DSC state
  win_shell: Restart-Service -Name Winmgmt -Force
  args:
    executable: powershell.exe
  ignore_errors: yes

- name: Windows | Set Swiss German keyboard layout
  win_shell: |
    $langList = New-WinUserLanguageList de-CH
    $langList[0].InputMethodTips.Clear()
    $langList[0].InputMethodTips.Add('0807:00000807')
    Set-WinUserLanguageList $langList -Force
  args:
    executable: powershell.exe

- name: Windows | Install NuGet provider
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-PackageProvider -ListAvailable -Name NuGet -ErrorAction SilentlyContinue)) {
      Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
    }
  args:
    executable: powershell.exe

- name: Windows | Check for xRemoteDesktopAdmin Powershell module
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name xRemoteDesktopAdmin)) {
      Install-Module -Name xRemoteDesktopAdmin -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Windows | Enable Remote Desktop
  win_dsc:
    resource_name: xRemoteDesktopAdmin
    Ensure: present
    UserAuthentication: Secure

- name: Windows | Check for xNetworking Powershell module
  win_shell: |
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
    if (!(Get-Module -ListAvailable -Name xNetworking)) {
      Install-Module -Name xNetworking -Force -SkipPublisherCheck
    }
  args:
    executable: powershell.exe

- name: Firewall | Allow RDP through Firewall
  win_dsc:
    resource_name: xFirewall
    Name: "Administrator access for RDP (TCP-In)"
    Ensure: present
    Enabled: True
    Profile: "Domain"
    Direction: "Inbound"
    Localport: "3389"
    Protocol: "TCP"
    Description: "Opens the listener port for RDP"
