- name: "[{{ linux_srv01_hostname }}] Install LAMP stack"
  apt:
    name: ['apache2', 'mysql-server', 'php', 'libapache2-mod-php', 'php-mysql']
    state: present
    update_cache: yes
  become: yes

- name: "[{{ linux_srv01_hostname }}] Ensure Apache is running"
  systemd:
    name: apache2
    state: started
    enabled: yes
  become: yes

- name: "[{{ linux_srv01_hostname }}] Create virtual host directory"
  file:
    path: "{{ web_root_path }}"
    state: directory
    owner: "{{ web_user }}"
    group: "{{ web_group }}"
    mode: '0755'
  become: yes

- name: "[{{ linux_srv01_hostname }}] Configure Apache virtual host"
  template:
    src: vhost.conf.j2
    dest: "{{ apache_sites_available }}/{{ web_domain_name }}.conf"
  register: vhost_config
  become: yes

- name: "[{{ linux_srv01_hostname }}] Enable virtual host"
  command: a2ensite {{ web_domain_name }}
  args:
    creates: /etc/apache2/sites-enabled/{{ web_domain_name }}.conf
  notify: reload apache
  become: yes

- name: "[{{ linux_srv01_hostname }}] Disable default site"
  command: a2dissite 000-default
  args:
    removes: /etc/apache2/sites-enabled/000-default.conf
  notify: reload apache
  become: yes

- name: "[{{ linux_srv01_hostname }}] Deploy index.html"
  copy:
    src: index.html
    dest: "{{ web_root_path }}/index.html"
  become: yes

- name: "[{{ linux_srv01_hostname }}] Deploy info.php"
  copy:
    src: info.php
    dest: "{{ web_root_path }}/info.php"
  become: yes